{% extends "base.html" %}
{% load static %}

{% block contenido %}
<h4>{{ mensaje }}</h4>
<div class="container">
    <div class="row">
		<div class="col-sm-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">                
                    <form accept-charset="UTF-8" action="{% url 'escribir_mensaje' %}" method="POST"> {% csrf_token %}
                        <table>
                            {{ formulario.media }}
                            {{ formulario }}
                        </table>
                        <button class="btn btn-info" type="submit">Enviar</button>
                        <a class="btn btn-success" href="{% url 'ver_mensajes' %}"> Ver mensajes </a>
                    </form>
                </div>
            </div>
        </div>
	</div>
</div>
{% endblock %}