{% extends "base.html" %}
{% load static %}

{% block Titulo %}                    
<h1 class="fw-bolder mb-1">Crear Publicación</h1>                          
{% endblock %}     
    
{% block formulario %}
        <form  action="{% url 'crear_pagina' %}"  method="POST"  enctype="multipart/form-data">{% csrf_token %}
        <table>
                {{ formulario.media }}
                {{ formulario }}   
        </table>     
        <input  type="submit"  value="Guardar">
        </form>
{% endblock %}     