{% extends "base.html" %}
{% load static %}

{% block Titulo %}                           
<h1 class="fw-bolder mb-1">Editar Publicacion</h1>                          
{% endblock %}     

{% block formulario %}
  <form  action="{% url 'editar_pagina' publicacion.id_publicacion %}" method="POST"  enctype="multipart/form-data">{% csrf_token %}
    <table>
        {{ formulario.media }}
      {{ formulario.as_table }}   
    </table>     
  <input  type="submit" value="Guardar">
  </form>
{% endblock %}    